
<ion-content>

<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <h3>New Movies</h3>
    </ion-col>
  </ion-row>
</ion-grid>

<app-slideshow-backdrop [peliculas]="lastMovies"></app-slideshow-backdrop>


<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <h3>Billboard</h3>
    </ion-col>
  </ion-row>
</ion-grid>

<app-slideshow-poster [peliculas]="lastMovies"></app-slideshow-poster>

<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <h3>Populares</h3>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <app-slideshow-poster [peliculas]="popular"></app-slideshow-poster> -->
<app-slideshow-pares [peliculas]="popular"
(moreMovies)="moreMovies()"></app-slideshow-pares>

</ion-content>
